.navbar {
  height: 100vh;
  width: 20vw;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

.navbarMain { flex: 1; }

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-gray-7);
  font-weight: 500;
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
}

.link[data-active] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-filled);
}

.linkIcon {
  margin-right: var(--mantine-spacing-sm);
  opacity: 0.8;
}
.navbar {
  /* light-dark(valeur_si_clair, valeur_si_sombre) */
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}